@import url('https://fonts.googleapis.com/css?family=Ranchers');
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$lettertype: verdana, sans-serif;
$lettertypealternatief: 'Ranchers', cursive;
$oranje: #f04c25;
$blauw: #009cab;
$licht: #fff;
$donker: #000;
$afstand: 7px;

