$oranje:#f04c25;
$blauw:#009cab;
$grijs:#c2c2c2;
$font:verdana,sans-serif;
$basismarge:10px;
$map:'../../oefeningen/images/';

//http://sass-lang.com/documentation/file.SASS_REFERENCE.html#interpolation_//